html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: #FBFEFF;
  overflow: hidden;
  margin: 0;
  letter-spacing: 1px;
}

.web-box {
  padding: 0;
  display: flex;
  flex-direction: row;
  column-gap: 60px;
  justify-content: space-between;
  overflow: hidden;
}

.profile-box {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  margin: 19px;
  justify-content: space-between;
}

.sidebar-box {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-light-gray);
  border-radius: 12px;
  height: 99%;
}

.profile-pic {
  object-fit: cover;
  height: 40px;
  width: auto;
}

.profile-text-box {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  justify-content: center;
  flex: 2;
}

.profile-text-name {
  margin: 0px;
  font-size: 16px;
  font-weight: medium;
  color: var(--color-black);
}

.profile-text-class {
  margin: 0px;
  font-size: 12px;
  font-weight: medium;
  color: var(--color-gray);
}

.profile-button {
  align-self: center;
  background-color: transparent;
  border: 1px solid var(--color-light-gray);
  border-radius: 8px;
  height: 35px;
  width: 35px;
}

.sidebar-line {
  margin: 0;
  border: 1px solid var(--color-light-gray);
  width: 100%;
}

.nav-bar-big-box {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 100%;
}

.nav-bar-box {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  align-items: flex-start;
  margin-bottom: 35px;
  margin-left: 19px;
  margin-right: 27px;
}


.nav-button,
.nav-selected-button {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  font-size: 14px;
  font-weight: medium;
  color: var(--color-black);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 5px;
  padding: 8px 16px;
  border-radius: 100px;
  transition: box-shadow 0.3s;
}

.nav-selected-button,
.nav-button:hover {
  box-shadow:inset 0px 0px 0px 1px var(--color-light-gray);
}

.body-box {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  width: 100%;
}

.header-box {
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-top: 14px;
  justify-content: space-between;
  align-items: flex-end;
}


.heading {
  margin: 0;
  font-size: 36px;
  font-weight: medium;
  color: var(--color-empha-black);
}

.subheading {
  margin: 0;
  margin-top: 8px;
  font-size: 16px;
  font-weight: regular;
  color: var(--color-black);
}

.today-box {
  margin: 0;
  text-align: right;
  padding-bottom: 2px;
}

.today-date {
  margin: 0;
  display: flex;
  flex-direction: row;
  column-gap: 13px;
  justify-content: center;
  align-items: center;
}

.today-date-text {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  color: var(--color-black);
}

.today-time {
  margin: 0;
  margin-top: 12px;
  font-size: 16px;
  font-weight: normal;
  color: var(--color-gray-blue);
}

.content-box {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  justify-content: space-between;
}

.leaderboard-box {
  background-color: white;
  height: 719px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
}

.leaderboard {
  width: 100%;
}

th {
  font-size: 16px;
  color: var(--color-gray-blue);
  font-weight: 400;
  height: 40px;
  text-align: left;
}
th .rank {
  width: 60px;
}
th .class {
  width: 80px;
}
th .number {
  width: 640px;
}
th .name {
  width: 500px;
}
th .points {
  width: 50px
}

td {
  font-weight: 500;
  height: 68px;
}
.rank-1 {
  color: var(--color-red) !important;
}
.rank-2 {
  color: var(--color-orange) !important;
}
.rank-3 {
  color: var(--color-yellow) !important;
}
td.class,
td.cno {
  color: var(--color-gray);
}
td.name,
td.points {
  color: var(--color-black);
}

.leaderboard-line {
  border-bottom: 1px solid var(--color-gray);
  width: 268px;
  margin-top: 54px;
}

.content-line {
  border-left: 1px solid var(--color-gray);
  height: 70px;
  margin-top: 100px;
}

.guides-box {
  margin-top: 60px
}

.guides-heading {
  margin: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: medium;
  color: var(--color-empha-black);
}

.guides-item {
  margin-bottom: 20px;
  margin-right: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.guides-item-text {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  color: var(--color-black);
}

.arrow {
  object-fit: cover;
  size: 14px;
  transition: all 0.3s;
  cursor: pointer;
}
.arrow:hover{
  transform: translateX(12px);
}

@media (min-width: 1024px) {
  .web-box {
    margin: 48px 60px;
    height: 90%;
  }

  .leaderboard-box {
    flex: 2;
    padding: 42px 12px 200px 36px;
  }

  .leaderboard {
    width: 100%;
  }

  th {
    font-size: 14px;
  }

  td {
    font-size: 20px;
  }

  .guides-box {
    flex: 0.8;
  }
}

@media (min-width: 1920px) {
  .web-box {
    margin: 110px 100px;
    height: 75%;
  }

  .leaderboard-box {
    flex: 3;
    padding: 70px 96px 230px 100px;
  }

  th {
    font-size: 16px;
  }

  td {
    font-size: 24px;
  }

  .guides-box {
    flex: 1;
  }
}