html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: #FBFEFF;
  overflow: hidden;
  margin: 0;
  letter-spacing: 1px;
}

.web-box {
  margin: 110px 100px;
  padding: 0;
  display: flex;
  flex-direction: row;
  column-gap: 45px;
  justify-content: space-between;
  height: 75%;
  overflow: hidden;
}

.facts-box {
  flex: 4;
  display: flex;
  flex-direction: column;
  row-gap: 45px;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  text-align: center;
}

.facts-text {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-black);
}

.login-box {
  flex: 3;
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  text-align: center;
}

.heading {
  margin:0;
  margin-bottom: 36px;
  font-size: 40px;
  font-weight: medium;
  color: var(--color-empha-black);
}

.subheading {
  margin:0;
  font-size: 20px;
  font-weight: 300;
  color: var(--color-black);
}

.login-img {
  object-fit:contain;
  width: 150px;
  margin: 70px;
}

.login-button {
  background-color: var(--color-empha-black);
  font-size: 16px;
  font-weight: medium;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 18px 46px;
  border-radius: 100px;
  box-shadow:inset 0px 0px 0px 1px var(--color-light-gray);
  transition: all 0.3s;
}
.login-button:hover {
  box-shadow: inset 0px 0px 0px 3px var(--color-empha-black);
  background: none;
  color: var(--color-empha-black);
}

.footnote {
  font-size: 14px;
  color: var(--color-black);
}